.toDoItemContainer {
  width: 100%;
  background-color: white;
  color: gray;
  border-radius: 5px;
  box-shadow: 1px 1px 5px gray;
  margin-top: 10px;
}

.todoItemColumn {
  text-align: left;
}

.strikeThrough {
  text-decoration: line-through;
}

.todoItemData {
  margin-top: 9px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.toDoTitle {
  cursor: pointer;
}

.toDoTitle:hover {
  color: rgb(196, 196, 196);
  text-decoration: underline;
  transition: color 0.3s;
}
